{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{todolist_instance}}</h1>
        <p>
            <a href="{% url 'todo_list_update' todolist_instance.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' todolist_instance.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in todolist_instance.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' i.id %}">{{ i }}</a></td>
                    <td>{{i.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
